In [1]:
import nltk
from nltk import *
import pandas as pd
from nltk.corpus import brown

# Basic POS tagging

In [2]:
Sen1 = word_tokenize("India wins the world cup after 28 years")
Sen1_PT=nltk.pos_tag(Sen1)
Sen1_PT

[('India', 'NNP'),
 ('wins', 'VBZ'),
 ('the', 'DT'),
 ('world', 'NN'),
 ('cup', 'NN'),
 ('after', 'IN'),
 ('28', 'CD'),
 ('years', 'NNS')]

# Brown Corpus

In [3]:
Brown=nltk.corpus.brown.words()

In [4]:
len(Brown)

1161192

### Taking a small sample from Brown corpus

In [5]:
Brown_sample=Brown[:100000]
Brown_sample=[word.lower() for word in Brown_sample]
nltk.pos_tag(Brown_sample)[:15]

[('the', 'DT'),
 ('fulton', 'NN'),
 ('county', 'NN'),
 ('grand', 'JJ'),
 ('jury', 'NN'),
 ('said', 'VBD'),
 ('friday', 'PDT'),
 ('an', 'DT'),
 ('investigation', 'NN'),
 ('of', 'IN'),
 ("atlanta's", 'JJ'),
 ('recent', 'JJ'),
 ('primary', 'JJ'),
 ('election', 'NN'),
 ('produced', 'VBD')]

In [6]:
Brown = nltk.Text(word.lower() for word in nltk.corpus.brown.words())
Brown.similar('man')

time day and one it way year woman state house men world life car
people war church that place work

In [7]:
nltk.pos_tag(Brown)[:5]

[('the', 'DT'),
 ('fulton', 'NN'),
 ('county', 'NN'),
 ('grand', 'JJ'),
 ('jury', 'NN')]

In [8]:
Brown_sample[:15]

['the',
 'fulton',
 'county',
 'grand',
 'jury',
 'said',
 'friday',
 'an',
 'investigation',
 'of',
 "atlanta's",
 'recent',
 'primary',
 'election',
 'produced']

In [9]:
Brown_PT=nltk.pos_tag(Brown_sample)
Brown_PT[:5]

[('the', 'DT'),
 ('fulton', 'NN'),
 ('county', 'NN'),
 ('grand', 'JJ'),
 ('jury', 'NN')]

### Singular Nouns

In [10]:
singular_noun=[]
for i in range(0,len(Brown_sample)):
    s=Brown_PT[i][1]
    if s=='NN':
        x=Brown_PT[i][0]
        singular_noun.append(x)

In [11]:
len(singular_noun)

22012

### Plural Nouns

In [12]:
plural_noun=[]
for i in range(0,len(Brown_sample)):
    s=Brown_PT[i][1]
    if s=='NNS':
        x=Brown_PT[i][0]
        plural_noun.append(x)

In [13]:
len(plural_noun)

5877

In [14]:
dfp=pd.DataFrame(plural_noun,columns=['PN'])
dfs=pd.DataFrame(singular_noun,columns=['SN'])
dfp['PN'].value_counts()

years          101
members         74
states          58
people          55
sales           52
              ...
yanks            1
fairies          1
linebackers      1
damages          1
brunches         1
Name: PN, Length: 1825, dtype: int64

In [15]:
PNC=pd.DataFrame(dfp['PN'].value_counts())
SNC=pd.DataFrame(dfs['SN'].value_counts())

In [16]:
PNC.reset_index(inplace=True)
SNC.reset_index(inplace=True)

In [17]:
Final=PNC.merge(SNC,on='index',how='left')
Final.head(20)

        index   PN    SN
0       years  101   NaN
1     members   74   NaN
2      states   58   NaN
3      people   55   NaN
4       sales   52   NaN
5         men   46   NaN
6    children   46   NaN
7      months   42   NaN
8        days   40   NaN
9     schools   35   NaN
10       runs   30   NaN
11      james   30   NaN
12       laws   30   NaN
13      funds   29   NaN
14      bonds   29   NaN
15  countries   28   NaN
16      weeks   26   NaN
17     dallas   25  18.0
18    minutes   25   NaN
19    nations   25   NaN

In [18]:
New_df=pd.DataFrame()
for i in range(0,len(Final)):
    if (Final['index'][i][-1]=='s'):
        x=Final.iloc[i]
        New_df=New_df.append(x)

In [19]:
import numpy as np
New_df.replace(np.NaN,0,inplace=True)

In [20]:
C=[]
for i in range(0,len(New_df)):
    if New_df['PN'].iloc[i]>New_df['SN'].iloc[i]:
        c="Yes"
        C.append(c)
    else:
        c="No"
        C.append(c)
New_df['Condition']=C

In [21]:
New_df.head()

      PN   SN    index Condition
0  101.0  0.0    years       Yes
1   74.0  0.0  members       Yes
2   58.0  0.0   states       Yes
4   52.0  0.0    sales       Yes
7   42.0  0.0   months       Yes

#### Nouns more common in their plural form

In [22]:
New_df[New_df['Condition']=='Yes']

         PN   SN        index Condition
0     101.0  0.0        years       Yes
1      74.0  0.0      members       Yes
2      58.0  0.0       states       Yes
4      52.0  0.0        sales       Yes
7      42.0  0.0       months       Yes
...     ...  ...          ...       ...
1820    1.0  0.0        yanks       Yes
1821    1.0  0.0      fairies       Yes
1822    1.0  0.0  linebackers       Yes
1823    1.0  0.0      damages       Yes
1824    1.0  0.0     brunches       Yes

[1699 rows x 4 columns]

#### Nouns more common in singular form

In [23]:
New_df[New_df['Condition']=='No']

       PN    SN         index Condition
130   9.0  13.0  headquarters        No
316   4.0  23.0         maris        No
637   2.0   2.0        kansas        No
677   2.0   2.0        brooks        No
686   2.0   3.0     kennedy's        No
800   2.0   3.0       douglas        No
955   1.0   6.0         louis        No
1002  1.0   1.0         sofas        No
1068  1.0   1.0         juras        No
1250  1.0   2.0       women's        No
1285  1.0   3.0        morris        No
1321  1.0  15.0        thomas        No
1393  1.0   7.0         davis        No
1453  1.0   1.0         lewis        No
1524  1.0   1.0          bats        No
1581  1.0   2.0     georgia's        No
1589  1.0   1.0         seams        No
1611  1.0   1.0        drafts        No

### Distinct Tags

In [24]:
cfd = nltk.ConditionalFreqDist(brown.tagged_words(categories='news'))

conditions = cfd.conditions()
number_of_tags = []

for condition in conditions:
    number_of_tags.append((condition, len(cfd[condition])))

number_of_tags = list(reversed(sorted(number_of_tags, key=lambda x: x[1])))
print(number_of_tags[0:19])

[('to', 6), ('French', 5), ('cut', 5), ('3', 5), ('like', 5), ('set', 5), ('near', 5), ('for', 5), ('that', 5), ('Congolese', 4), ('First', 4), ('Place', 4), ('hit', 4), ('No', 4), ('To', 4), ('open', 4), ('half', 4), ('For', 4), ('St.', 4)]

### Frequent POS tags

In [25]:
tag_fd = nltk.FreqDist(tag for (word, tag) in Brown_PT)
Brown_MCPT=tag_fd.most_common(20)
Brown_MCPT

[('NN', 22012),
 ('IN', 11579),
 ('DT', 10048),
 ('JJ', 8723),
 ('NNS', 5877),
 (',', 5159),
 ('.', 4135),
 ('VBD', 3899),
 ('VB', 2978),
 ('RB', 2919),
 ('CC', 2737),
 ('VBN', 2293),
 ('CD', 2188),
 ('TO', 2124),
 ('PRP', 1926),
 ('VBZ', 1663),
 ('VBG', 1383),
 ('VBP', 1139),
 ('MD', 1060),
 ('PRP$', 1052)]

In [26]:
for i in range(0,len(Brown_MCPT)):
    x=Brown_MCPT[i][0]
    print(nltk.help.upenn_tagset(x),"\n")

NN: noun, common, singular or mass
    common-carrier cabbage knuckle-duster Casino afghan shed thermostat
    investment slide humour falloff slick wind hyena override subhumanity
    machinist ...
None

IN: preposition or conjunction, subordinating
    astride among uppon whether out inside pro despite on by throughout
    below within for towards near behind atop around if like until below
    next into if beside ...
None

DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those
None

JJ: adjective or numeral, ordinal
    third ill-mannered pre-war regrettable oiled calamitous first separable
    ectoplasmic battery-powered participatory fourth still-to-be-named
    multilingual multi-disciplinary ...
None

NNS: noun, common, plural
    undergraduates scotches bric-a-brac products bodyguards facets coasts
    divestitures storehouses designs clubs fragrances averages
    subjectivists apprehensions muses factory-jobs ...
None

,: comma
    ,
None

.: sentence terminator
    . ! ?
None

VBD: verb, past tense
    dipped pleaded swiped regummed soaked tidied convened halted registered
    cushioned exacted snubbed strode aimed adopted belied figgered
    speculated wore appreciated contemplated ...
None

VB: verb, base form
    ask assemble assess assign assume atone attention avoid bake balkanize
    bank begin behold believe bend benefit bevel beware bless boil bomb
    boost brace break bring broil brush build ...
None

RB: adverb
    occasionally unabatingly maddeningly adventurously professedly
    stirringly prominently technologically magisterially predominately
    swiftly fiscally pitilessly ...
None

CC: conjunction, coordinating
    & 'n and both but either et for less minus neither nor or plus so
    therefore times v. versus vs. whether yet
None

VBN: verb, past participle
    multihulled dilapidated aerosolized chaired languished panelized used
    experimented flourished imitated reunifed factored condensed sheared
    unsettled primed dubbed desired ...
None

CD: numeral, cardinal
    mid-1890 nine-thirty forty-two one-tenth ten million 0.5 one forty-
    seven 1987 twenty '79 zero two 78-degrees eighty-four IX '60s .025
    fifteen 271,124 dozen quintillion DM2,000 ...
None

TO: "to" as preposition or infinitive marker
    to
None

PRP: pronoun, personal
    hers herself him himself hisself it itself me myself one oneself ours
    ourselves ownself self she thee theirs them themselves they thou thy us
None

VBZ: verb, present tense, 3rd person singular
    bases reconstructs marks mixes displeases seals carps weaves snatches
    slumps stretches authorizes smolders pictures emerges stockpiles
    seduces fizzes uses bolsters slaps speaks pleads ...
None

VBG: verb, present participle or gerund
    telegraphing stirring focusing angering judging stalling lactating
    hankerin' alleging veering capping approaching traveling besieging
    encrypting interrupting erasing wincing ...
None

VBP: verb, present tense, not 3rd person singular
    predominate wrap resort sue twist spill cure lengthen brush terminate
    appear tend stray glisten obtain comprise detest tease attract
    emphasize mold postpone sever return wag ...
None

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would
None

PRP$: pronoun, possessive
    her his mine my our ours their thy your
None

Here NN is the most common Pos tag , that is Common noun or singular Noun

### Top 10 most common Noun Tags (NN)

In [27]:
SNC[:10]

       index   SN
0      state  153
1  president  142
2       year  140
3       home  130
4       mrs.  119
5        mr.  118
6       time  103
7      house   97
8       city   93
9       week   93